/* styles.css */

div {
  color: white;
  background-color: black;
}

p {
  color: black;
}

.rainbow-text {
  -webkit-background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}