/* styles.css */

body {
  
}

p {
  color: black;
}

h1 {
  text-align: center;
}

.rainbow-text {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

.rainbow-button {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border: none;
  color: white;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  margin: 30px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}

.button-align {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}